html {
    font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
/*    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;*/
}
.header3 {
    margin-left: 25%;
    font-size: 2em;
}
.user-list {
    border: 2px solid #EFA86C;
    font-size: 15px;
    text-align: center;
    margin: 0% 45% 0 25%;
}
body {
    background-color: #708c98;
}
.form {
    text-align: justify-all;
    margin: 0 25% 0 25%;
    padding: 5%;
    border: 3px solid chartreuse;
    font-size: 12px;
}
.col-2 {
    margin-left: 15px;
}
.col-1 {
    min-width: 200px;
    max-width: 200px;
    width: 100%;
}
.row {
    text-align: right;
}
.col-1-1 {
    text-align: right;
}
.col-2-2 {
    margin-left: 85px;
}
.name {
    text-align: left;
}