@import url(color-base.css);

.table-area{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin-top: 3px;
}

table button{
    width: 100%;
}

table, .table{
    flex: 0;
    border-collapse: collapse;
    min-width: 900px;
}
  
.table thead, table thead{
    background-color: var(--table-header-color);
}

.table th, .table td, table th, table td{
    padding: 10px;
    border: 1px solid var(--table-border);
    border-collapse: collapse;
    text-align: left;
    min-width: 110px;
}

.table tr:hover td, table tr:hover td{
    background-color: var(--table-hover-row-color);
}

.table-buttons{
    margin: 1% 0 0 1%;
    flex:1;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

